label {
    display: inline-block;
    width: 330px;
    border: 1px solid gray;
    border-radius: 4px;
    min-height: 40px;
    line-height: 40px;
    padding-left: 10px;
}

input[type="file"] {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label::after {
    content: 'שלח';
    position: absolute;
    right: 0;
    top: 0;
    line-height: 40px;
    border: 1px solid black;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.form-row {
    position: relative;
    width: 330px;
}

.error {
    border: 1px solid orange;
}